
.map-container {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
}


.panel {
  max-height: 320px;
  overflow-y: scroll;
}

.tag {
  background-color: #bbb;
  border-radius: 4px;
  
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 8px;
    width: 100%;
  }
  
  td, th {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .overview {
   background-color: #eee; 
   height: 400px;
  }