<div class="container-fluid">
     <div class="row">
          <div class="col-md-8">
               <div class="map-container" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
                    <ng-container *ngFor="let planet of topPlanets">
                         <div [leafletLayer]="planet.marker" (click)="overviewPowerPlanet(planet.planet)"></div>
                    </ng-container>
               </div>
          </div>
          <div class="col-md-4 p-0 pt-3">
               <label>Show top (n) power plants</label>
               <input placeholder="top n" (keyup.enter)="search()" [(ngModel)]="topn" type="number">
               <button class="btn btn-sm btn-primary " (click)="search()">go</button>
               <div *ngIf="selectedState != ''"><span class="tag">{{selectedState}} <span (click)="showTopOnUs()"
                              style="color: red; cursor: pointer; padding: 2px">x</span></span></div>

               <div class="panel">

                    <table>
                         <tr>
                              <th>State</th>
                              <th>Net generation</th>
                              <th>Generation percintage (of US)</th>
                              <th></th>
                         </tr>
                         <tr *ngFor="let state of statesOverview">
                              <td>{{state.PSTATABB}} </td>
                              <td>{{state.STNGENAN}} mwh</td>
                              <td>{{state.STGENPERC}}%</td>
                              <td><button (click)="navigateToState(state.PSTATABB)">navigate</button></td>
                         </tr>
                         <tr>
                              <td>Grand total</td>
                              <td>{{netGen}} mwh</td>
                              <td></td>
                         </tr>
                    </table>
               </div>
          </div>

     </div>
</div>

<div class="overview pt-4">
     <div class="container">
          <div *ngIf="selectedOverview === overviewCase.PLANET">
               <div class="text-center">{{selectedPlanet.PNAME}} power plant details</div>
               <div class="d-flex justify-content-center align-items-center" style="font-size: 12px;">

                    <p style="width: 200px">
                         ID: {{selectedPlanet.ID}} <br>
                         PNAME: {{selectedPlanet.PNAME}} <br>
                         PSTATABB: {{selectedPlanet.PSTATABB}} <br>
                         LAT: {{selectedPlanet.LAT}} <br>
                         LON: {{selectedPlanet.LON}} <br>
                         ORISPL: {{selectedPlanet.ORISPL}} <br>
                         OPRCODE: {{selectedPlanet.OPRCODE}} <br>
                         UTLSRVNM: {{selectedPlanet.UTLSRVNM}} <br>
                         UTLSRVID: {{selectedPlanet.UTLSRVID}} <br>
                         SECTOR: {{selectedPlanet.SECTOR}} <br>
                         BANAME: {{selectedPlanet.BANAME}} <br>
                         BACODE: {{selectedPlanet.BACODE}} <br>
                         NERC: {{selectedPlanet.NERC}} <br>
                         SUBRGN: {{selectedPlanet.SUBRGN}} <br>
                    </p>
                    <p style="width: 200px">
                         PLPRMFL: {{selectedPlanet.PLPRMFL}} <br>
                         PLFUELCT: {{selectedPlanet.PLFUELCT}} <br>
                         COALFLAG: {{selectedPlanet.COALFLAG}} <br>
                         CAPFAC: {{selectedPlanet.CAPFAC}} <br>
                         NAMEPCAP: {{selectedPlanet.NAMEPCAP}} <br>
                         RMBMFLAG: {{selectedPlanet.RMBMFLAG}} <br>
                         CHPFLAG: {{selectedPlanet.CHPFLAG}} <br>
                         USETHRMO: {{selectedPlanet.USETHRMO}} <br>
                         PWRTOHT: {{selectedPlanet.PWRTOHT}} <br>
                         PLHTIAN: {{selectedPlanet.PLHTIAN}} <br>
                         PLHTIOZ: {{selectedPlanet.PLHTIOZ}} <br>
                         PLHTIANT: {{selectedPlanet.PLHTIANT}} <br>
                         PLHTIOZT: {{selectedPlanet.PLHTIOZT}} <br>
                         PLNGENAN: {{selectedPlanet.PLNGENAN}} <br>
                         PLNGENOZ: {{selectedPlanet.PLNGENOZ}} <br>

                    </p>
                    <p style="width: 200px">
                         PLNOXAN: {{selectedPlanet.PLNOXAN}} <br>
                         PLNOXOZ: {{selectedPlanet.PLNOXOZ}} <br>
                         PLSO2AN: {{selectedPlanet.PLSO2AN}} <br>
                         PLCO2AN: {{selectedPlanet.PLCO2AN}} <br>
                         PLCH4AN: {{selectedPlanet.PLCH4AN}} <br>
                         PLN2OAN: {{selectedPlanet.PLN2OAN}} <br>
                         SRNAME: {{selectedPlanet.SRNAME}} <br>
                         ISORTO: {{selectedPlanet.ISORTO}} <br>
                         FIPSST: {{selectedPlanet.FIPSST}} <br>
                         FIPSCNTY: {{selectedPlanet.FIPSCNTY}} <br>
                         CNTYNAME: {{selectedPlanet.CNTYNAME}} <br>
                         NUMUNT: {{selectedPlanet.NUMUNT}} <br>
                         NUMGEN: {{selectedPlanet.NUMGEN}} <br>
                    </p>

               </div>
          </div>
          <div *ngIf="selectedOverview === overviewCase.US">
               <div class="text-center">Us states overview</div>
               <div class="d-flex justify-content-center align-items-center">
                    <div style="width: 500px">
                         <canvas id="usChart">

                         </canvas>
                    </div>
               </div>
          </div>
          <div *ngIf="selectedOverview === overviewCase.STATE">
               <div class="text-center">{{selectedState}} power plants overview</div>
               <div class="d-flex justify-content-center align-items-center">
                    <div style="width: 500px">
                         <canvas id="stChart">

                         </canvas>
                    </div>
               </div>
          </div>

     </div>

</div>